@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

html, body, #app,
input, select {
  margin: 0;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.4;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30vw;
  max-width: 250px;
  display: none;
}

.panels {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.panels > div {
  width: 50%;
  flex-grow: 1;
}

.mac2 {
  background-image: url(/img/mac2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.sellingPoints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  font-weight: bold;
  text-align: right;
}

.sellingPoints p {
  opacity: 0.5;
  font-size: 1.1em;
  letter-spacing: 1;
}

.sellingPoints h1 {
  font-weight: bold;
}

.sellingPoints .buttons > div {
  display: inline-block;
  background-color: #444;
  color: white;
  padding: 6px 12px;
  border-radius: 3px;
  margin: 10px;
  cursor: default;
}

.sellingPoints h1 span {
  color: #585FBE;
}

.sellingPoints > * {
  max-width: 400px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .panels > div {
    width: 100%;
    box-sizing: border-box;
  }
  .panels {
    flex-direction: column-reverse;
    height: auto;
  }
  .sellingPoints {
    text-align: center;
  }
  .mac2 {
    margin-top: 20px;
    height: 100px;
  }
  .sellingPoints h1 {
    font-size: 1.5em;
  }
}

a {
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 10px;
  margin-top: 20px;
}

.LoggedInView {
  margin-top: 51px;
}

/* LOG IN / SIGN UP */

.LoggedOutView {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoggedOutView h1 {
  font-weight: normal;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
}

.LoggedOutView .inner {
  text-align: center;
}

.LoggedOutView input[type=submit], .big-button {
  appearance: none;
  padding: 8px 20px;
  background-color: #666;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
  cursor: default;
}

.LoggedOutView label {
  display: none;
}

.LoggedOutView .switch {
  font-size: small;
  opacity: 0.7;
}

.LoggedOutView input[type=email], .LoggedOutView input[type=password] {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ddd;
  outline: none;
  font-size: 1em;
  padding: 2px 4px;
}

.LoggedOutView input {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* LOGGED-IN UI */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(233, 247, 246, 0.9);
  color: white;
  box-sizing: border-box;
  flex-direction: row;
  z-index: 10;
  display: flex;
  flex-direction: row;
  text-transform: lowercase;
  
/*  background-image: linear-gradient(0deg, #FFB746 0%, #FFE0AD 100%);
  box-shadow: 0 0 10px 0 #E06F7A;*/
/*  background-color: rgba(0,0,0,0.05);
*/ 
  
  color: rgba(50, 57, 78, 0.9);
/*  background-image: url(/img/NavBar.png);
  background-size: 100% 100%;
  box-shadow: 0 0 10px 0 #78D4C6;*/
}

.header .flexible-space {
  flex-grow: 1;
}

.header > div {
  cursor: default;
  padding: 1em;
}

.header > div:hover {
  opacity: 0.5;
}

.header label {
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 500px) {
  .header label {
    display: none;
  }
}

/* CALENDAR UI */

.calendarDayView {
  display: inline-block; 
  width: 20%;
  padding: 10px;
  vertical-align: top;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 61px;
  /*background-color: #eee;*/
}

.calendarDayView:nth-child(even) {
  background-color: rgba(0,0,0,0.02);
}

.courses {
  margin: 0 auto;
  width: 100%;
}

.calendar-screen {
  /*background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(208,237,235,1) 100%);*/
  height: 100vh;
  margin-top: -51px;
}

.calendar-screen .emptyState {
  background-image: url(/img/CalendarEmpty.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: fixed;
  width: 15vw;
  top: 20%;
  bottom: 20%;
  left: 42.5%;
}

.calendarSectionObject {
  width: 85%;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
  position: relative;
}

.calendarSectionObject>h4,
.calendarSectionObject>p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.calendarSectionObject>h4 {
  width: 90%;
}

.removeSection {
  position: absolute;
  top: 8px;
  right: 8px;
  /*color: #888;*/
  display: inline-block;
  padding: 1px 5px;
  font-size: 14px;
  font-weight: bolder;
  opacity: 0.5;
}

.removeSection:hover {
  cursor: pointer;
  opacity: 1;
}

.calendar {
  width: 90%;
  margin: 0 auto;
}

.sharedCartTitle {
  color: rgba(0,0,0,0.5);
  font-size: 1.5em;
  text-align: center;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.95);
  font-size: 1em;
  padding: 6px;
  margin: 0;
}

.sharedCartTitle em {
  color: rgba(0,0,0,1);
  font-style: normal;
}

@media screen and (max-width: 500px) {
  .calendar {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    -webkit-scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(80vw);
  }
  .calendarDayView {
    width: 80vw;
    padding-left: 10px;
    padding-top: 1em;
    box-sizing: border-box;
    white-space: normal;
  }
  .calendar-screen .emptyState {
    width: 60vw;
    left: 20vw;
  }
}

.dayLabel {
  /*text-align: center;*/
  font-weight: normal;
  opacity: 0.5;
}

.floating-button {
  width: 200px;
  margin-left: -100px;
  left: 50%;
  bottom: 16px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border: 1px solid #eee;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 30px;
  text-align: center;
  position: fixed;
  cursor: default;
}

/* COURSE PAGE UI */

.courseInfo .emojis {
  display: inline-block;
  font-size: 28px;
  letter-spacing: .3em;
  margin-left: 16px;
  /*margin-right: 8px;*/
}

.altTitles {
  margin-bottom: 8px;
  white-space: pre-wrap;
  display: inline-block;
}

.altTitle {
  color: #bbb;
  display: inline-block;
  font-size: 14px;
  margin-right: 4px;
  float:left;
  line-height: 1.5;
  white-space: pre-wrap;
  /*text-wrap: normal;*/
  /*text-transform: uppercase;*/
}

.adjectives {
  margin-left: 0px;
  width: 90%;
}

.courseInfo .adj {
  display: inline-block;
  color: white;
  margin-right: 4px;
  margin-bottom: 6px;
  padding: 4px 12px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  border-radius: 10px; 
  background-image: linear-gradient(160deg, #a7c8eb 0%, #abaef7 100%);
}

.courseInfo h2 {
  margin-bottom: 8px;
}

.courseInfo {
  /*background-color: yellow;*/
  max-width: 560px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.courseInfoHeader {
  margin-top: 20px;
}

.courseInfo label {
  font-size: 14px;
  opacity: 0.5;
}

.courseInfo p {
  line-height: 1.45em;
  font-size: 14px;
}

.sections {
  /*padding: 20px 8px;*/
  /*background-color: #f4f4f4;*/
}

.sectionInfo {
  margin-top: 12px;
  width: 30%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  /*background-color: #f0f0f0*/
}

.sectionInfo>.sectionName{
  margin-top: 8px;
  /*margin-left: 8px;*/
  margin-bottom: 4px;
}

.sectionInfo>p  {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  /*margin-left: 8px;*/
  opacity: 0.5;
}

.classYearDemographics,
.concentratorDemographics {
  margin-top: 0px;
  width: 90%;
  height: 24px;
  display:inline-block;
  vertical-align: top;
}

.demographic {
  display: inline-block;
  width: 50%;
}

.demLabel {
  text-transform: uppercase;
  /*color: #888;*/
  letter-spacing: .5px;
  font-size: 10px;
}

.key {
  width: 70%;
  display: inline-block;
  background-color: #f4f4f4;
  /*margin-left: 2%;*/
  vertical-align: top;
  margin-top: 16px;
  border-radius: 4px;

}
.keyRow {
  width: 100%;
  min-width: 98px;
  margin-left: 8px; 
  display: inline-block;
}

.key label {
  display: inline-block;
  margin-left: 6px;
  font-size: 10px;
}



.keySquare {
  display: inline-block;
  height: 7px;
  width: 7px;
  background-color: black;
  margin-left: 4px;
}

.classYearDemographics>.graph,
.concentratorDemographics>.graph {
  display: inline-block;
  height: 100%;
}

.addRemove {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 6px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: .5px;
  text-align: left;
  padding-bottom: 1px;
  border: 1px solid #bbb;
  width: 96px;
  text-align: center;
  border-radius: 16px;
}

.addRemove label {
  font-size: 10px;
}

.addRemove label:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 500px) {

  .sectionInfo {
    width: 45%;
  }

  .demographic {
    width: 100%;
  }

}


/* MENU UI */

.menu-screen {
  padding: 20px;
}

/* PREFERENCES UI */

.preferences {
  max-width: 480px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.preferences label {
  font-size: 14px;
  opacity: 0.5;
}

.preferences p {
  opacity: 0.5;
}

.preferences .logOut {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}

.preferences .done {
  
}

.prefSection {
  margin-top: 20px;
}

.addMore {
  display: inline-block;
  margin-left: 10px;
  background-color: #aaa;
  color: white;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 10px;
}
.addMore:hover {
  cursor: pointer;
  background-color: #888;
}

.ui-autocomplete {
  background-color: #f8f8f8;
  color: gray;
  list-style: none;
  margin-left: 0px;
  padding: 1px;
  width: 200px;
}

.ui-menu .ui-menu-item {
  padding: 3px;
  border-bottom: 2px solid #eee;
  font-size: 12px

}

.ui-helper-hidden-accessible{
  display: none;
}

.ui-widget input{
  height: 32px;
  border: none;
  border-radius: 4px;
  margin-top: 12px;
  padding-left: 8px;
  background-color: #f2f2f2;
  width: 240px;
  color: #666;
}

.prefSection select {
  border: none;
  background-color: #f0f0f0;
  height: 32px;
  margin-top: 8px;
  width: 120px;
}

.ui-widget {
  display: inline-block;
}

.clearField {
  display: inline-block;
  color: #666;
  opacity: 0.5;
  margin-left: 16px;
  font-size: 12px;
}

.clearField:hover {
  opacity: 1;
  cursor: pointer;
}

/* SEARCH/RECOMMENDATIONS */

.AddCourses {
  padding-bottom: 2em;
  padding-top: 1px;
}

.search {
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-field {
  background-color: transparent;
  font-size: 1em;
  appearance: none;
  border: none;
  outline: none;
  flex-grow: 1;
  color: inherit;
}

.search .fa {
  opacity: 0.5;
  padding: 5px 10px;
}

.hscroll {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.hscroll > div {
  white-space: nowrap;
}

.hscroll > div > div {
  display: inline-block;
  white-space: normal;
  height: 9em;
  overflow-y: hidden;
}

.CourseCell {
  width: 220px;
  margin: 0.8em;
  position: relative;
  display: inline-flex !important;
  flex-direction: column;
}

.CourseCell .bottom {
  display: flex;
  flex-grow: 1;
  margin-top: 0;
}

.CourseCell h4 {
  margin-bottom: 0;
}

.CourseCell .times {
  opacity: 0.5;
  font-size: 12px;
}

.CourseCell .emoji {
  align-self: flex-end;
  white-space: nowrap;
  text-align: right;
  flex-grow: 1;
}

.hscroll .CourseCell:not(:first-child) {
  margin-left: 0;
}

.CourseCell > * {
  margin: 0.4em;
}

.CourseCell,
.calendarSectionObject {
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: rgba(255,255,255,0.9);
  border-radius: 3px;
  background-image: linear-gradient(135deg, rgb(122, 91, 206) 0%, rgb(71, 117, 202) 100%);
}

.CourseCell:hover,
.calendarSectionObject:hover {
/*  box-shadow: 0px 0px 10px rgb(40, 115, 136);
*/  cursor: default;
  transform: scale(1.04, 1.04);
}

.CourseCell p,
.calendarSectionObject p {
  opacity: 0.7;
}

.SectionCell label {
  opacity: 0.5;
  margin: 0.8em;
  margin-bottom: 0;
  margin-top: 1em;
  text-transform: lowercase;
  display: block;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.results .CourseCell {
  
}

.FilterEditor {
  margin-top: 1em;
}

.FilterEditor select {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  background-image: url(/img/Chevron.svg);
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 0.8em;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding: 5px;
  padding-right: 20px;
  padding-top: 10px;
  margin-left: 1em;
  text-transform: lowercase;
  outline: none;
}

@media screen and (max-width: 500px) {
  .SectionCell label, 
  .CourseCell, 
  .search-field,
  .calendar {
    font-size: small;
  }
  .CourseCell {
    width: 160px;
  }
  .calendar {
    margin-top: 100px;
  }
}

/* POPUP MENU */

.PopupMenuSource {
  position: relative;
  display: inline-block;
}

.PopupMenu {
  background-color: #111;
  color: white;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 10px;
  margin-left: -10px;
  width: 70vw;
  max-width: 200px;
}

.PopupMenu:before {
  content: " ";
  background-color: #111;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: -5px;
  transform: rotate(45deg);
}

/* menu items */
.PopupMenu > div > div {
  padding: 4px 8px;
  cursor: default;
}

.PopupMenu > div > div:hover {
  opacity: 0.6;
}

.PopupMenu > div {
  padding-top: 4px;
  padding-bottom: 4px;
}


/* MODALS */

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal > div {
  width: 70%;
  max-width: 600px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

/* SHARE SHEET */

.ShareSheet input {
  appearance: none;
  font-size: 16px;
  padding: 1em;
  width: 70%;
}

.add-emoji {
  cursor: pointer;
}

#emoji-input-box {
  display:none;
}

