@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700');

html, body, #app {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* LOG IN / SIGN UP */

.LoggedOutView {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
}

.LoggedOutView .inner {
  text-align: center;
}

.LoggedOutView input[type=submit] {
  appearance: none;
  font-family: 'Roboto Mono';
  padding: 8px 20px;
  background-color: #666;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.LoggedOutView label {
  display: none;
}

.LoggedOutView .switch {
  font-size: small;
  opacity: 0.7;
}

.LoggedOutView input[type=email], .LoggedOutView input[type=password] {
  appearance: none;
  font-family: 'Roboto Mono';
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ddd;
  outline: none;
  font-size: 1em;
  padding: 2px 4px;
}

.LoggedOutView input {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* LOGGED-IN UI */

.header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px 20px;
  flex-direction: row;
}

/* CALENDAR UI */

.calendarDayView {
  display: inline-block; 
  width: 20%;
  vertical-align: top;
}

.courses {
  margin: 0 auto;
}

.calendarSectionObject {
  width: 80%;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
}

.calendarSectionObject>h4,
.calendarSectionObject>p {
  margin: 0;
  padding: 0;
}

.calendar {
  width: 90%;
  margin: 0 auto;
}

.dayLabel {
  /*text-align: center;*/
}

.floating-button {
  width: 200px;
  margin-left: -100px;
  left: 50%;
  bottom: 16px;
  font-family: 'Roboto Mono';
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border: 1px solid #eee;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 30px;
  text-align: center;
  position: fixed;
  cursor: default;
}

/* COURSE PAGE UI */

.emojis {
  display: inline-block;
  font-size: 28px;
  letter-spacing: .3em;
  margin-left: 16px;
  /*margin-right: 8px;*/
}

.courseInfo {
  /*background-color: yellow;*/
  max-width: 560px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.courseInfoHeader {
  margin-top: 20px;
}

.courseInfo label {
  font-size: 14px;
  font-family: 'Roboto Mono';
  opacity: 0.5;
}

.courseInfo p {
  line-height: 1.45em;
  font-size: 14px;
}

.sections {
  /*padding: 20px 8px;*/
  /*background-color: #f4f4f4;*/
}

.sectionInfo {
  margin-top: 12px;
  width: 30%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
}

.sectionInfo>.sectionName{
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.sectionInfo>p  {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  margin-left: 8px
}

.classYearDemographics,
.concentratorDemographics {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 24px;
}

.classYearDemographics>div,
.concentratorDemographics>div {
  display: inline-block;
  height: 100%;
}

.addRemove {
  font-size: 11px;
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: 5px;
  text-transform: uppercase;
  color: black;
  letter-spacing: .5px;
  border: 1px solid black;
  border-radius: 12px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
  width: 100px;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  box-shadow: 0px 0px 0px rgba(0,0,0,255);
}

.addRemove:hover {
  box-shadow: 2px 2px 0px rgba(0,0,0,255);
  cursor: default;
  transform: translate(-2px, -2px);
}

/* MENU UI */

.menu-screen {
  padding: 20px;
}

/* PREFERENCES UI */

.preferences {
  max-width: 480px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.preferences label {
  font-size: 14px;
  font-family: 'Roboto Mono';
  opacity: 0.5;
}

.prefSection {
  margin-top: 20px;
}

.addMore {
  display: inline-block;
  margin-left: 20px;
  background-color: black;
  color: white;
  padding: 0px 5px;
  border-radius: 10px;
}

/* SEARCH/RECOMMENDATIONS */

.AddCourses {
  padding-bottom: 4em;
  padding-top: 5em;
}

.search-field {
  background-color: #eee;
  font-size: 1em;
  padding: 1.6em;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  border: none;
  outline: none;
  background-image: url(/img/SearchIcon.svg);
  background-repeat: no-repeat;
  background-position: 0.8em center;
  padding-left: 3.3em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.hscroll {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.hscroll > div {
  white-space: nowrap;
}

.hscroll > div > div {
  display: inline-block;
  white-space: normal;
  height: 9em;
  overflow-y: hidden;
}

.CourseCell {
  width: 220px;
}

.CourseCell {
  margin: 0.8em;
}

.hscroll .CourseCell:not(:first-child) {
  margin-left: 0;
}

.CourseCell > * {
  margin: 0.4em;
}

.CourseCell,
.calendarSectionObject {
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  box-shadow: 0px 0px 0px rgba(0,0,0,255);
}

.CourseCell:hover,
.calendarSectionObject:hover {
  box-shadow: 4px 4px 0px rgba(0,0,0,255);
  cursor: default;
  transform: translate(-4px, -4px);
}

.SectionCell label {
  font-family: 'Roboto Mono';
  opacity: 0.5;
  margin: 0.8em;
  margin-bottom: 0;
  margin-top: 1em;
  text-transform: lowercase;
  display: block;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.results .CourseCell {
  
}

@media screen and (max-width: 500px) {
  .SectionCell label, 
  .CourseCell, 
  .search-field,
  .calendar {
    font-size: small;
  }
  .CourseCell {
    width: 160px;
  }
  .addRemove {
    font-size: 10px;
    width: 80px;
  }

}

/* POPUP MENU */

.PopupMenuSource {
  position: relative;
  display: inline-block;
}

.PopupMenu {
  background-color: #111;
  color: white;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 10px;
  margin-left: -10px;
  width: 70vw;
  max-width: 200px;
}

.PopupMenu:before {
  content: " ";
  background-color: #111;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: -5px;
  transform: rotate(45deg);
}


/* MODALS */

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal > div {
  width: 70%;
  max-width: 600px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

/* SHARE SHEET */

.ShareSheet input {
  appearance: none;
  font-size: 16px;
  padding: 1em;
  width: 70%;
}
